.popup {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    left: 0;
}