.popup__button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
  height: 50px;
  background-color: #000;
  margin: 56px auto 0px;
  color: #fff;
  font-size: 18px;
  font-family: 'Inter';
  font-weight: normal;
  border: none;
}

@media screen and (max-width: 660px) {
.popup__button-save {
  width: 238px;
  font-size: 14px;
  line-height: 1.21;
  margin: 45px auto 25px;
}
}