.popup__container {
    position: relative;
    background-color: #fff;
    width: 430px;
    height: 330px;
    z-index: 4;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .popup__container {
        width: 282px;
    }
}