.photo-grid {
    margin: 0 auto;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 17px;
    row-gap: 20px;
    padding: 0 0 0 17px;
}



@media screen and (max-width: 897px) {
    .photo-grid {
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    .photo-grid {
        grid-template-columns: none;
        padding: 0;
    }
}