.footer__copyright {
  font-family: "Inter", 'Arial', 'Helvetica';
  font-style: normal;
  font-weight: normal;
  color: #545454;
  font-size: 18px;
  line-height: 22px;
  margin: 66px auto 60px;
  padding: 2px 0 0 9px;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 48px 0 36px 30px;
    width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
      margin: 48px 19px 36px;
  }
}
