.profile__title {
  font-family: "Inter", 'Arial', 'Helvetica';
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 62px 0 8px 30px;
}


@media screen and (max-width: 768px) {
  .profile__title {
    font-size: 35px;
    line-height: 38px;
    margin: 62px 25px 18px 0px;
  }
}

@media screen and (max-width: 550px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin: 26px 10px 8px 0;
  }
}