.popup__button-close {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 4;
  right: -39px;
  top: -151px;
  background-image: url(../../../images/popup_close.png);
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

@media screen and (max-width: 768px) {
.popup__button-close {
  width: 20px;
  height: 20px;
  right: 0;
  top: -36px;
  }
}