.popup__title {
  font-family: "Inter", 'Arial', 'Helvetica';
  color: #000;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 35px 0px 53px 36px;
  width: 330px;
  height: 23px;
}

@media screen and (max-width: 768px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    width: 238px;
    height: 22px;
    margin: 25px auto 75px;
    padding: 0;
  }
}