.popup__error-input {
  color: red;
  opacity: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  min-height: 30px;
  margin-left: 36px;
}

.popup__error-input:last-of-type {
  min-height: 47px;
}

.popup__error-input:first-of-type {
  margin-bottom: 10px;
}