.popup__input-profession {
  width: 238px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter";
  font-weight: normal;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 37px auto 0px;
}

@media screen and (min-width: 768px) {
  .popup__input-profession {
    width: 358px;
  }
}
